APP_LLM_API_KEY=435b571dd92b47afa8d96c9ef00fb354.uCFZme8Wl30AZ7UZ
APP_LLM_BASE_URL=https://open.bigmodel.cn/api/paas/v4/
APP_LLM_MODEL_NAME=glm-5
APP_LLM_EMBEDDING_MODEL=embedding-3
APP_MILVUS_DIMENSION=2048
APP_JWT_SECRET=change-this-to-a-long-random-secret-key-at-least-32-bytes
